body {
	background-color: #bfbfbf;
	color: #494c51;
}


/*HEADER*/

header {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	word-spacing: 0px;
	width: 1292px;
	height: 134px;
	background: #ed6300 url(../img/orange-banner-bg.jpg) center bottom;
	border-bottom: 1px solid white;
	position: fixed;
	padding: 11px 0 0 0;
}

.header__content {
	width: 1150px;
	margin: 19px 0px 0px 72px;
}

.header__content__menu__list {
	margin: -51px 0px 0px 195px
}

.header__content__menu__item {
	display: inline-block;
}

.header__content__menu__link {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	line-height: 18px;
	font-weight: 100;
	color: white;
	height: 23px;
	padding: 12px 15px;
	display: inline-block;
	;
	text-decoration: none;
}

.header__content__menu__list > li:hover {
	background-color: rgba(220, 220, 220, 0.25);
}

.header__content__menu ul li {
	display: inline-block;
	position: relative;
}

.header__content__menu li ul {
	text-align: left;
	background-color: #0187f6;
	position: absolute;
	top: 47px;
	width: 125px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.header__content__menu li ul li a {
	padding: 12px 15px 12px 15px;
}

.header__content__menu li li {
	display: block;
}

.header__content__menu li li ul {
	position: absolute;
	top: 0px;
	left: 125px;
	width: 191px;
}

.header__content__menu__link {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 100;
	color: white;
	height: 23px;
	display: inline-block;
	text-decoration: none;
}

.header__content__menu li li a {
	display: block;
	text-align: left;
}

ul.submenu {
	display: none;
}

.header__content__menu__list .header__menu__list__dropdown:hover > .submenu {
	display: block;
}

.menu--job {
	background-color: #0187f6;
	width: 198px;
}


/*HEADER COLOR*/

.menu--orange {
	background-color: #f07800;
}

.menu--green {
	background-color: #0dc166;
}

.menu--purple {
	background-color: #7750f8;
}

.menu--blue {
	background-color: #0000ff;
}

.menu--yello {
	background-color: #ffba00;
}


/*HEADER COLOR*/

.header__cta {
	margin: 0px 0px 0px 887px;
	display: inline-block;
	position: relative;
	top: -46px;
	border: 2px solid rgba(255, 255, 255, .3);
	padding: 0 10px;
	padding-left: 23px;
	border-right: 0px;
}

.header__cta__img {
	position: relative;
	top: 6px;
	right: 8px;
}

.header__cta__link {
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 14px;
	line-height: 50px;
}

.header__cta__link:hover {
	text-decoration: underline;
}

.header__cta__after {
	width: 21px;
	height: 54px;
	top: -100px;
	right: -1126px;
	position: relative;
}


/*HEADER*/